@{
    ViewData["Title"] = "WSIZ Students";
}

<div class="text-center">
    <h1></h1>
    <h1 class="display-4">Szkolenie Techniczne 3<br />System zarządzania studentami oraz wykładowcami</h1>

</div>
